body {
  div#box {
    width: 300px;
    height: 300px;

    box-sizing: border-box;
    padding: 15px;

    background-color: beige;

    position: absolute;
    left: 0;
    top: 0;

    display: none;

    transform: scale(0.5);
    transition: transform 0.5s;

    &:hover {
      transform: scale(1);
    }

    #container {
      width: 270px;
      height: 270px;

      &:hover {
        cursor: none;
      }
    }
  }
}